{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Simplify your invoicing with FatooraPro, the intuitive solution for efficient business finances." />
        <meta name="author" content="Your Company Name" />
        <title>FatooraPro: بسّط عملية الفتورة الخاصة بك</title>
        
        <link rel="icon" type="image/x-icon" href="{% static 'images/logos/light/1.jpeg' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-0" id="mainNav">
            <div class="container px-2 p-0">
                <a class="navbar-brand fw-bold d-flex justify-content-center align-items-center" href="/">
                    <img src="{% static 'images/logos/light/1.jpeg' %}" alt="..." style="width: 165px; height: 80px;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    {% comment %} القائمة {% endcomment %}
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'home' %}">الرئيسية</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Privacy Policy Section -->
        <section id="privacy-policy" class="py-5" style="margin-top:55px">
            <div class="container  mt-3">
                <div class="col-12 col-md-12 col-sm-12 col-xs-12 k">
                    <h3>This Privacy Policy governs what we can and cannot do with the information that you provide
                    </h3>
                    <h5>1. Who we are</h5>
                    <h6>
            
                      FatooraPro is committed to protecting your privacy in accordance with the highest consumer protection
                      standards.
                      Our privacy policy is designed with you in mind, and it is integral that you have a comprehensive
                      understanding of our information collection and usage practices, as well as full confidence that ultimately,
                      you have control of your personal information provided to FatooraPro. In summary, while you should read each
                      provision in this Privacy Policy, you note that by using the FatooraPro web site:
                      <br>A. You agree that if you disclose your personal information to us, we may create a database record about
                      you;
                      <br>B. If you register on our website, download any materials or conduct any other transaction, you agree for
                      us to collect information necessary to provide you with the service you have requested, and you agree that
                      this information may be disclosed to service partners (who may be third parties) for those purposes;
                      <br>C. You agree for us to use cookies on your browser (unless you remove them);
                      <br>D. You agree that we can contact you with information about products and services which may be of interest
                      to you (unless you have stated you do not wish to receive these communications); and
                      <br>E. Your continued use of the FatooraPro web site indicates your agreement with any future changes in the
                      FatooraPro Privacy Policy
            
            
                    </h6>
                    <h5>2. What information is collected and how do we use it?</h5>
                    <h6>FatooraPro will not collect or monitor any personal information about you without your consent. The only
                      personal information we collect is what you tell us about yourself and information about how you use our web
                      site. FatooraPro collects information from you at several different points on the site:
                    </h6>
                    <h5> A. New Account Registration
                    </h5>
                    <h5> What information is collected?
                    </h5>
                    <h6>When you register for an account with FatooraPro, you will be asked to create a login name and password, as
                      well as to provide your contact information, such as your name, title, email address, language preference and
                      country of location.
                      You may also be asked to give billing information such as credit card billing information, your credit card
                      type, number, expiry date and billing address.
                      You are also given the option to sign up for periodical updates and/or newsletters from FatooraPro informing
                      you of the latest news and deals.
                    </h6>
                    <h5>Why do we collect it?
                    </h5>
                    <h6> To identify you when you use our site in order to enjoy a customized and personalized experience.
                      To present you with a default screen layout based on the country of location you select.
                      As a security measure, to send you an email confirming your account registration.
                      To allow us to process and complete your purchases.
                      To allow you to enjoy convenience whenever you make purchases as you will not have to type the billing
                      information repeatedly.
                      To send you email confirmations for actions on FatooraPro.
                      To further confirm your identity.
                      To prevent credit card fraud.
                      For our customer service agents to contact you when necessary.
                      To send you our optional periodical updates and/or newsletters, if you have signed up for them.
                      To send you information about products and services which may be of interest to you.
                    </h6>
                    <h5>3. Online Surveys
                    </h5>
                    <h6>
                      What information is collected?
                      From time to time, FatooraPro may conduct market research surveys either by itself or by employing the
                      services of a third party to do so on our behalf. You may choose to participate in our surveys, and your
                      answers to our survey, as well as your contact information may be kept on record, and will be protected in a
                      manner that is consistent with this privacy policy. Please note that the information you provide through our
                      surveys will be used on an aggregated basis unless we inform you otherwise beforehand.
                      Why do we collect it?
                      FatooraPro conducts market research surveys in order to learn from you how improvements can be made to our
                      site to send you information about products and services which may be of interest to you.
            
                    </h6>
                    <h5>4. Customer Contact</h5>
                    <h6>What information is collected?
                      You may choose to provide feedback to FatooraPro, for example through email or letters. The comments in your feedback, as well as your contact information like your email, if provided to FatooraPro, may be kept on record.
                      Why do we collect it?
                         The feedback that you choose to provide is valuable in helping FatooraPro make improvements to our service to you. In order to follow-up on the feedback you have chosen to provide, FatooraPro may correspond with you using the contact information that you have provided.
                      To send you information about products and services which may be of interest to you.
                      </h6>
                      <h5>5. Cookies</h5>
                      <h6>What information is collected?
                        When you visit FatooraPro as a Guest or account holder, a cookie is stored onto your computer. A cookie is a small, encrypted text file containing some information about your preferences and allows your usage to be tracked. The use of cookies is now an industry standard, and you will find them used on most major web sites. However, you can always choose to disable cookies from being stored on your computer by changing your browser settings. Disabling cookies, however, may result in a limited experience of our functionality and services and in some cases may mean that we are unable to provide you with the services, or parts of the services, that you have requested. Some of our business partners whose content is incorporated into or linked to from our site may also use cookies. However, we have no access to or control over these cookies.
                        Why do we collect it?
                        Cookies, when stored on your computer, facilitate the following:
                        Cookies allow us to save passwords and preferences for you so that you will not have to re-enter them the next time you visit. This means you will be able to enjoy conveniences such as login without having to type your login name every time you visit FatooraPro.
                        FatooraPro will be able to make improvements to our site based on the aggregated usage statistics collected from cookies. These aggregated usage statistics are anonymous to third parties, and may also be used by FatooraPro’s third party advertising companies in monitoring the effectiveness of advertisements.
                        </h6>
                        <h5>6. Other Computer Information</h5>
                        <h6>What information is collected?
                          Session information such as IP (Internet Protocol) addresses, browser types, operating systems are also used for FatooraPro’s system administration.
                          Why do we collect it?
                          Session information will allow us to enhance your experience on FatooraPro by allowing us to troubleshoot technical issues as well as to improve our site usability.
                          Who do we share your information with?
                          FatooraPro is the owner of the information collected on this site. We do not sell or rent individual personal information to third parties and have no intention to do so in the future.
                          We may disclose your personal information on occasion to third parties who work with us. Some of these third parties may be located outside your home country, or outside of USA. The information will be protected in a manner that is consistent with this Privacy Policy. Disclosure will be made in the following scenarios for the following purposes:
                          When you make purchases on FatooraPro
                          To successfully complete your purchases or otherwise implement our terms of service, your personal information is provided as needed to FatooraPro’s third party product and service providers or other third parties authorised by FatooraPro, if any.
                          When third parties perform services on behalf of FatooraPro
                          In our efforts to continually improve our site, FatooraPro may employ the services of third party companies to perform projects such as market research surveys on our behalf.
                          When required by law to disclose the information
                          With your prior express consent
                          To protect the rights and property of FatooraPro
                          To enable third parties to send you information about products and services which may be of interest to you
                          Links may be present on the FatooraPro site which result in you leaving the FatooraPro site and being taken to other third party web sites. You should note that any information that you provide to these third party web sites are not subject to the FatooraPro privacy policy, and we strongly recommend that you be aware of their privacy and security policies.
                          FatooraPro may also work with third parties that serve ads to this site. Information that may be disclosed to such third parties will be anonymous.
                          You should also note that the processing of information on the FatooraPro site and the transmission of transaction messages relating to purchases, including your account related data, may involve transmissions over various networks (which may not be secure) and to various countries and further processing and storage of data in such countries.
                          </h6>
                          <h5>7. You have control over your information!
                          </h5>
                          <h6><br><br>A. Opt In and Opt Out Policy
                            You always have the option to opt in to participate in FatooraPro’s product and service offers. For example, you will be given the option to subscribe to FatooraPro’s newsletters by checking the box.
                            While FatooraPro hopes that you benefit from our product and service offers, at any time, you always have the option to opt out of the products and services that you have subscribed to.
                            We offer you the ability to opt out of receiving information of our products and services at the point of collection, or by accessing and changing your account information. Please allow some time for this request to be processed.
                            <br><br>B. Accessing your information and retention of information
                            You may at any time access and change your account or personal information or subscribed services. You can easily access your personal information if you login to your account with FatooraPro, or you can follow the links that may be provided within our subscription emails to you to manage your subscription preferences. Although we will take reasonable steps to keep your information accurate, complete and up-to-date, we request that you keep your information as current as possible so that we may continue to improve our service to you.
                            We will only withhold your access to such information in extremely limited circumstances where it is permitted by law, such as:
                            where it might be dangerous if you were to have it;
                            where it might prejudice an investigation currently underway;
                            where it relates to court proceedings and may be subject to the discovery process;
                            where it may relate to a commercially sensitive decision-making process; or
                            where other individuals’ personal information is contained in the same record.
                            FatooraPro may (but is not obliged to) retain your information for a period of 7 years from the date you last accessed your account.
                            <br><br>C. Minors
                            As we cannot distinguish the age of persons who access our site, a blanket privacy policy is applied. FatooraPro does not intent nor does it seek to receive any personal information from minors. Should a parent or guardian have reason to believe that a minor has provided FatooraPro with personal information without their prior consent, please contact us to ensure that the information is removed and unsubscribe them from any promotional contact opportunities.
                            <br><br>D. Security
                            FatooraPro has implemented technology and security features to safeguard the privacy of your personal information. A secure server protects your personal information. Additionally, with FatooraPro, you can be assured that the information you provide to FatooraPro is transmitted using Secure Socket Layer (SSL) encryption. If you become aware of any security breach, please let us know as soon as possible.
                            We have internal procedures in place requiring our employees and data processors to respect the confidentiality of any personal information held by FatooraPro.
                            FatooraPro will endeavor to take all reasonable steps to keep secure any information which we hold about you. Your information is stored on secure servers that are protected in controlled facilities. Unfortunately, despite the aforementioned technology and security features, no data transmission over the Internet can be guaranteed to be 100% secure, so we cannot give an absolute assurance that the information you provide to us will be secure at all times, and we cannot be responsible for any event arising from unauthorized access to your personal information. FatooraPro will not be held responsible for events arising from third parties gaining unauthorized access to your personal information.
                            Please note also that FatooraPro may use overseas facilities to process or back up its information. As a result, we may transfer and store your personal information to our overseas facilities. However, this does not change any of our commitments to safeguard your privacy.
                            <br><br>E. Keep your password safe
                            You can play your part in safeguarding your personal information by never disclosing your Login password or account information to anybody. Whenever you login as a member on FatooraPro, particularly on somebody else’s computer or on public internet terminals, you should always logout at the end of your session. Your assistance will help us protect the privacy of your personal information. FatooraPro cannot be held responsible for lapses in security caused by third party accesses to information as a result of your failure to keep your personal information private. Please notify us immediately if there is any unauthorized use of your account by any other internet user or any other breach of security.
                            <br><br>F. Changes to the FatooraPro Privacy Policy
                            FatooraPro may amend this Policy from time to time. If we make any substantial changes in any way we use your personal information, we will notify you by posting a prominent announcement on our web pages or by way of an e-mail and you will have a choice as to whether or not we may use the information in this different manner.
                            </h6>
                            <h3>Thank you for taking the time to understand the FatooraPro Privacy Policy.
                            </h3>
                  </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; عصر الماسة لتقنية المعلومات </div>
                    
                    <!-- WhatsApp Icon with Contact Information -->
                    <div class="mb-2">
                        <i class="bi bi-whatsapp"></i>
                        <span>تواصل معنا على واتساب: <a href="https://wa.me/+966580815434">+966580815434</a></span>
                    </div>

                    <!-- Email Information -->
                    <div>
                        <i class="bi bi-envelope"></i>
                        <span> <a href="mailto:info@FatooraPro.pro">info@FatooraPro.pro</a> أرسل لنا بريدًا إلكترونيًا على: </span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
