{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    {% if valid %}
        <div class="card-header text-secondary">
            <h3 class="fw-bolder">Reset Password</h3>
        </div>
        <div class="card-body">
            <form id="passwordResetForm">
                <input type="password" class="form-control" placeholder="New Password" id="newPassword" required>
                <br><br>
                <input type="password"  class="form-control" placeholder="Confirm New Password" id="confirmNewPassword" required>
                <input type="hidden" id="token" value="{{ token }}">
                <input type="hidden" id="uidb64" value="{{ uidb64 }}">
                <br><br>
                <p class="text-danger" id="message" ></p>
                <button type="submit" class="btn btn-secondary">Reset Password</button>
            </form>

        </div>
        <div class="card-footer text-muted">
            <img src="{% static 'images/logos/light/1.jpeg' %}" width="250" height="90" />
        </div> 
    {% else %}
        <div class="card-header text-secondary">
            <h3>Error</h3>
        </div>
        <div class="card-body">
            <i class="icon fas fa-exclamation-triangle text-danger pb-2"></i>
            <h5 class="card-title">Invalid URL</h5>
            <p class="card-text">The URL you provided is invalid. Please check the link because it may have expired.</p>
        </div>
    {% endif %}

{% endblock content %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {

        const passwordResetForm = document.getElementById('passwordResetForm');
        const newPasswordInput = document.getElementById('newPassword');
        const confirmNewPasswordInput = document.getElementById('confirmNewPassword');
        const tokenInput = document.getElementById('token');
        const uidb64Input = document.getElementById('uidb64');
        const messageElement = document.getElementById('message');
        const cardBody = document.querySelector('.card-body');


        passwordResetForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const newPassword = newPasswordInput.value;
            const confirmNewPassword = confirmNewPasswordInput.value;
            const token = tokenInput.value;
            const uidb64 = uidb64Input.value;

            if (newPassword.length < 8) {
                messageElement.textContent = 'Password must be at least 8 characters';
                return;
            }
            if (newPassword !== confirmNewPassword) {
                messageElement.textContent = 'Passwords do not match';
                return;
            }

            const response = await fetch('/api/auth/password/reset/confirm/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ password: newPassword, token, uidb64 }),
            });

            const data = await response.json();

            if (response.status === 200) {
            // Replace the form with a success message
            cardBody.innerHTML = `
                <i class="icon fas fa-check-circle pb-2 text-success"></i>
                <h5 class="card-title">Your password has been successfully reset.</h5>
                `;
            } else {
                messageElement.textContent = data.detail;
            }
        });
    })
    </script>

{% endblock scripts %}
